# Python-specific ignores
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS-specific ignores
.DS_Store

# Windows-specific ignores
Thumbs.db
ehthumbs.db

# IDE-specific ignores
.vscode/
.idea/
*.swp

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
*.whl
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml

# Translations
*.mo
*.pot

# Logs and databases
*.log
*.sql
*.sqlite

storage