# Python-specific ignores
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
#build/
*.log

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/

# Environment variables file
.env

# IDE-specific ignores
.vscode/
.idea/
*.swp

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Storage
storage/
